/* 
This is the primary Css file for the site's styling.
It works along with the style object in app.js which contains 
setting options for Material Ui's Css in JS setup.
*/

body {
    font-family: 'Open Sans', sans-serif;
}

/* Navigation bar */

.barbar {
    width: 100%;
}

.logogo {
    margin-left: 8.85vw;
    margin-top: 0.4vw;
    width: 212px;
    height: 115.85px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.logogo:hover {
    background-color: #000;
    opacity: 0.7;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.underline {
    color: #fff;
    text-decoration: none;
    float: right;
    font-weight: 500;
    font-size: 16.45px;
    letter-spacing: 0.8px;
}

.underline:link {
    text-decoration: none;
    color: #fff;
    position: relative;
}

.underline:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -6px;
    background: #fff;
    height: 2.4px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.underline:hover:before,
.underline:active:before {
    right: 0;
}

a {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    text-decoration: none;
}

a:hover {
    color: rgba(154, 182, 196, 0.582);
    opacity: 0.6;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.button-styled-link {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    text-decoration: none;
    border: none;
    color: white;
    width: 100%;
}

.button-styled-link:hover {
    color: rgba(154, 182, 196, 0.582);
    opacity: 0.6;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.darken {
    width: 210px;
    height: 115px;
    margin-left: -40px;
}

/* Full size navbar links */

#about {
    margin-left: 4.8vw;
}

#blog {
    margin-left: 6vw;
}

.divider {
    border: rgba(247, 243, 243, 0.685);
    border-width: thin;
}

#x-icon {
    width: 16px;
    height: 16px;
    margin-top: 19px;
}

#menu-list {
    margin: 0;
    padding: 0;
}

.drawer {
    width: 300px;
    padding: 0;
    cursor: pointer;
}

#close {
    font-size: 16px;
    height: 52px;
    background-color: rgba(247, 243, 243, 0.685);
}

#close-text {
    font-size: 13.3px;
    font-weight: 600;
    color: black;
    height: 50px;
    margin-top: 50px;
}

#projects-link {
    height: 40px;
    margin-top: 11px;
    margin-bottom: 1px;
    font-size: 14px;
    color: black;
}

#about-link {
    height: 40px;
    margin-top: 11px;
    margin-bottom: 1px;
    font-size: 14px;
    color: black;
}

#blog-link {
    height: 40px;
    margin-top: 11px;
    margin-bottom: 1px;
    font-size: 14px;
    color: black;
}

/* Skills section icons */

.tech-icon {
    color: white;
}

#icon-container {
    margin-top: -1.5vw;
    margin-bottom: 5vw;
    height: 45vw;
    width: 90vw;
}

#html-icon {
    width: 15.5%;
    margin-left: 4.5vw;
}

#css-icon {
    width: 15%;
}

#js-icon {
    width: 14.5%;
    margin-left: 2.5vw;
}

#react-icon {
    width: 15%;
}

#mui-icon {
    width: 18%;
    margin-left: 3.6vw;
}

#git-icon {
    width: 13%;
    margin-left: 2vw;
}

#npm-icon {
    width: 13%;
    margin-left: 3.5vw;
}

#wordpress-icon {
    width: 13.5%;
    margin-left: 3.5vw;
}

/* Third section of the page */

/* Contact form */

#name {
    float: left;
    position: relative;
    top: -10px;
    color: rgb(92, 92, 92);
}

#first-in {
    float: left;
    height: 30px;
    margin-top: -10px;
    margin-right: 1vw;
    border-radius: 2px;
    border: 1px solid rgb(172, 172, 172);
    width: 35%;
}

#first {
    float: left;
    color: rgb(172, 172, 172);
    font-size: 13px;
}

#last-in {
    float: left;
    height: 30px;
    margin-top: -10px;
    width: 35%;
    border-radius: 2px;
    border: 1px solid rgb(172, 172, 172);
}

#last {
    margin-left: -20%;
    color: rgb(172, 172, 172);
    font-size: 13px;
}

#email {
    float: left;
    color: rgb(92, 92, 92);
}

#email-in {
    width: 76%;
    height: 30px;
    float: left;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 2px;
}

#comments {
    float: left;
    color: rgb(92, 92, 92);
}

#comments-in {
    float: left;
    max-width: 100%;
    min-width: 100%;
    height: 8vw;
    border: 1px solid rgb(172, 172, 172);
    resize: vertical;
    border-radius: 2px;
}

#submit {
    float: left;
    background-color: rgb(92, 92, 92);
    border-radius: 5px;
    color: white;
    font-size: 13px;
    padding: 11px 23px;
    margin-top: 12px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

#submit:hover {
    background-color: rgb(14, 13, 13);
}

/* Social link icons */

#social {
    margin-top: 2vw;
}

#github {
    margin-right: 1.5vw;
}

/* When you move the mouse over the pin icon it changes color */

.icon:hover {
    color: #eee;
}

.bottom-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: inline-block;
}

.skyline-img {
    max-width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

#footer {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

.contact {
    position: absolute;
}

#about-text {
    position: absolute;
}

#red-pin {
    width: 9%;
    left: 44%;
    position: absolute;
}
