/******************************************************************************
**    Mobile break points for responsive layout changes
******************************************************************************/


/* Media query below 400 px ------------------------------------------------ */

@media only screen and (max-width: 400px) {
    .tech-icon {
        margin: 2.8vw;
    }

    #icon-container {
        margin-top: -20vw;
        margin-bottom: 5vw;
        height: 25vw;
        width: 90vw;
    }
}


/*  Media query below 600 px ----------------------------------------------- */

@media only screen and (max-width: 600px) {
    .bottom-container {
        height: 340px;
        margin-top: 15vw;
    }

    #footer {
        height: 165vw;
    }

    #about-text {
        top: -5vw;
        left: 15%;
        width: 70%;
        margin-top: 2vw;
    }

    .contact {
        top: 120%;
        left: 10%;
        margin: 0 auto;
        margin-left: -10%;
        padding-left: 8vw;
        width: 100%;
        height: 100%;
        background-color: white;
    }

    #contact-wrapper {
        position: absolute;
        width: 82%;
        height: 100%;
        margin: 0 auto;
    }

    #email-in {
        width: 71%;
    }

    #comments-in {
        height: 15vw;
    }

    .skyline-img {
        position: absolute;
        top: 680px;
        left: -0%;
    }

    #red-pin {
        width: 10%;
        top: 220%;
    }
}


/* Media query below 960 px ------------------------------------------------ */

@media only screen and (max-width: 960px) {
    #menu-container {
        position: absolute;
        width: 90px;
        height: 20px;
        margin-left: 50%;
        margin-right: 1%;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .menu {
        width: 16px;
        text-decoration: none;
    }

    #menu-text {
        display: inline;
        margin-left: 10px;
        font-size: 17px;
    }

    #scroll-links {
        display: none;
    }
}


/* Media query below 1200 px ----------------------------------------------- */

@media only screen and (max-width: 1200px) {
    .tech-icon {
        margin: 2.8vw;
    }

    #icon-container {
        margin-top: -8vw;
        margin-bottom: 5vw;
        height: 30vw;
        width: 90vw;
    }

    #mui-icon {
        margin-right: 4vw;
    }
}


/* Media query above 588 px ------------------------------------------------ */

@media only screen and (min-width: 588px) {
    #menu-container {
        margin-left: 65%;
    }
}


/* Media query above 600 px ------------------------------------------------ */

@media only screen and (min-width: 600px) {
    .bottom-container {
        height: 100%;
        margin-top: 75vw;
    }

    #footer {
        height: auto;
    }

    #about-text {
        top: -65vw;
        left: 10%;
        width: 70%;
    }

    .contact {
        top: -20vw;
        left: 10%;
        width: 70%;
    }

    #red-pin {
        width: 9%;
        top: 55%;
    }
}


/* Media query above 960 px ------------------------------------------------ */

@media only screen and (min-width: 960px) {
    #menu-container {
        display: none;
    }

    #scroll-links {
        width: 80%;
        margin-top: 0.5vw;
    }

    .bottom-container {
        height: 100%;
        margin-top: 20vw;
    }

    .contact {
        top: -13vw;
        left: 4%;
        width: 23%;
    }

    #about-text {
        top: -13vw;
        left: 33%;
        width: 30vw;
    }

    #red-pin {
        width: 9%;
        top: 55%;
    }
}


/* Media query above 1200 px ----------------------------------------------- */

@media only screen and (min-width: 1200px) {
    .tech-icon {
        margin: 2.3vw;
    }

    #icon-container {
        margin-top: 3.2vw;
        height: 28vw;
        width: 90vw;
    }

    #stack {
        padding-top: 5vw;
    }

    .bottom-container {
        height: 100%;
        margin-top: 10vw;
    }

    #about-text {
        top: 0vw;
        left: 10%;
        width: 28vw;
    }

    #social {
        left: 62%;
        top: -4%;
    }

    #red-pin {
        width: 10%;
        top: 47%;
    }
}
