/******************************************************************************
**    Mobile break points for responsive layout changes
******************************************************************************/


/* Media query below 1200 px ----------------------------------------------- */

@media only screen and (max-width: 1200px) {
    .tech-icon {
        margin: 2.8vw;
    }

    #icon-container {
        margin-top: 1vw;
        margin-bottom: 9vw;
        height: 30vw;
        width: 90vw;
    }

    #git-icon {
        margin-right: 3.8vw;
    }
}


/* Media query below 960 px ------------------------------------------------ */

@media only screen and (max-width: 960px) {
    #menu-container {
        position: relative;
        float: right;
        width: 90px;
        height: 20px;
        margin-top: 10px;
        margin-left: 50%;
        margin-right: 1%;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .menu {
        width: 16px;
        text-decoration: none;
    }

    #menu-text {
        display: inline;
        margin-left: 10px;
        font-size: 17px;
    }

    #scroll-links {
        display: none;
    }

    #social {
        left: 22%;
        top: 470px;
    }
}


/*  Media query below 600 px ----------------------------------------------- */

@media only screen and (max-width: 600px) {
    .bottom-container {
        margin-top: 50px;
    }

    #about-text {
        top: -150px;
        left: 15%;
        width: 70%;
        margin-top: 180px;
    }

    #social {
        left: 22%;
        margin-top: 150px;
    }

    .skyline-img {
        position: absolute;
        top: 800px;
        left: -0%;
    }

    #red-pin {
        width: 10%;
        top: 885px;
    }
}


/* Media query below 400 px ------------------------------------------------ */

@media only screen and (max-width: 400px) {
    .tech-icon {
        margin: 2.8vw;
    }

    #icon-container {
        margin-top: 1vw;
        margin-bottom: 5vw;
        height: 35vw;
        width: 90vw;
    }

    .bottom-container {
        height: 700px;
        margin-top: 15vw;
    }

    #about-text {
        left: 10%;
        width: 80%;
        top: -10px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    #social {
        margin-top: 30px;
        top: 640px;
    }

    .skyline-img {
        position: absolute;
        top: 900px;
        left: -0%;
    }

    #red-pin {
        width: 10%;
        top: 950px;
    }
}


/* Media query below 300 px ------------------------------------------------ */

@media only screen and (max-width: 320px) {
    .logogo {
        height: 100px;
        width: 170px;
        margin-top: 20px;
    }
    
    .tech-icon {
        margin: 2.8vw;
    }

    #icon-container {
        margin-top: 1vw;
        margin-bottom: 5vw;
        height: 35vw;
        width: 100%;
    }

    .bottom-container {
        height: 700px;
        margin-top: 15vw;
    }

    #about-text {
        left: 10%;
        width: 80%;
        top: -10px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    #social {
        margin-top: 20px;
        top: 800px;
    }

    .skyline-img {
        position: absolute;
        top: 1050px;
        left: -0%;
    }

    #red-pin {
        width: 10%;
        top: 1100px;
    }
}


/* Media query above 588 px ------------------------------------------------ */

@media only screen and (min-width: 588px) {
    /* #menu-container {
        margin-left: 65%;
    } */
}


/* Media query above 600 px ------------------------------------------------ */

@media only screen and (min-width: 600px) {
    .bottom-container {
        height: 100%;
        margin-top: 80vw;
    }

    #footer {
        height: auto;
    }

    #about-text {
        top: -500px;
        left: 16%;
        width: 70%;
    }

    #social {
        left: 42%;
        top: -100px;
    }

    #red-pin {
        width: 9%;
        top: 55%;
    }
}


/* Media query above 960 px ------------------------------------------------ */

@media only screen and (min-width: 960px) {
    #menu-container {
        display: none;
    }

    #scroll-links {
        width: 80%;
        margin-top: 0.5vw;
    }

    .bottom-container {
        height: 100%;
        margin-top: 350px;
    }

    #about-text {
        top: -240px;
        left: 13%;
        width: 380px;
    }

    #social {
        left: 62%;
        top: -260px;
    }

    #red-pin {
        width: 9%;
        top: 55%;
    }
}


/* Media query above 1200 px ----------------------------------------------- */

@media only screen and (min-width: 1200px) {
    .tech-icon {
        margin: 2.8vw;
    }

    #icon-container {
        margin-top: 2.5vw;
        margin-bottom: 10vw;
        height: 30vw;
        width: 90vw;
    }

    #git-icon {
        margin-right: 3.8vw;
    }
}


/* Media query above 1660 px ----------------------------------------------- */

@media only screen and (min-width: 1660px) {
    .tech-icon {
        margin: 2.3vw;
    }

    #icon-container {
        margin-top: 3.2vw;
        height: 28vw;
        width: 90vw;
    }

    #git-icon {
        margin-right: 3vw;
    }

    #stack {
        padding-top: 5vw;
    }

    .bottom-container {
        height: 100%;
        margin-top: 150px;
    }

    #about-text {
        top: 7px;
        left: 10%;
        width: 500px;
    }

    #social {
        left: 62%;
        top: -4%;
    }

    #red-pin {
        width: 10%;
        top: 47%;
    }
}
